:root {
  --color:#17C3B2;
}

* {
  box-sizing: border-box;
  font-family: Oxanium, cursive;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/618c0b65424070a1017a7168ea1b6337/razer-wallpapers-page-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size:cover;

}

.App-header {
  align-items: center;
  background-image: url("https://assets2.razerzone.com/images/pnx.assets/618c0b65424070a1017a7168ea1b6337/razer-wallpapers-page-hero-mobile.jpg");
  background-size:cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-size: medium;
  width: 60%;
  
}

input {
  display: flex;
  border:  2px solid #17C3B2;
  border-radius: 20px;
  color: hwb(279 10% 35%);
  flex-direction:row;
  font-size: 80%;
  font-weight: bold;
  font-style:italic;
  padding: 0.8rem;
}

p{
 color: var(--color);
}
.pName{
  color:rgba(88, 62, 203, 0.923);
  font-size: 4rem;
  text-shadow: 1px 1px var(--color);
  
}
.pcategory{
 color:rgba(88, 62, 203, 0.923);
 font-size: 4rem;
 text-shadow: 1px 1px var(--color);
}
.pQuestions{
 color: rgb(237, 134, 213);
 font-style: italic;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 text-shadow: 1px 1px rgb(231, 18, 227);
}
/* From uiverse.io by @nikk7007 */
button {
  background-color: transparent;
  border: 2px solid #17C3B2;
  border-radius: 15px;
  color: #17C3B2;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  padding: 0.8em 1.8em;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  transition: .3s;
  z-index: 1;
 }

 button::before {
  background: #17C3B2;
  content: '';
  display: block;
  height: 300%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: .5s ease;
  top: 50%;
  width: 0;
  z-index: -1;
 }
 
 button:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: #111;
 }
 
h1 {
  color: #17C3B2;
  font-size: 3rem;
  text-shadow: 2px 2px #080b50;
}


.App {
  text-align: center;
}

.App-logo {
  height: 30rem;
  padding: 2rem ;
  pointer-events: none;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
